.containerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../public/images/hoiku.jpg');
  background-size: cover;
}
.containerMap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: pink;
}
.containerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: green;
}
.containerFotter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  height: 89vh;
  padding: 2rem 0;
  width: 1024px;
}

.map {
  height: 100vh;
  padding: 2rem 0;
  width: 1024px;
}

.logo {
  height: 100vh;
  padding: 2rem 0;
  width: 1024px;
}

.footer {
  width: 1024px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 400px 0 0 0;
  line-height: 2.5;
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgba(0,0,0,.2);
  border-radius: 8px;
  padding: 32px 64px;
  background-color: rgba(255,255,255,.7);
}
.headerOut{
  width: 100%;
  background-color: rgba(255,255,255,.7);
}
.header {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1024px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.nav {
  color: black;
  list-style: none;
  margin: 0 16px;
}

.nav:hover,
.nav:focus,
.nav:active {
  color: blue;
  text-decoration: underline;
}

.logoImg p {
  width: 192px;
  background-color: #00B900;
  text-align: center;
  padding: 8px 16px;
  color: #fff;
}
.line {
  margin: auto 0;
}
.line button {
  width: 192px;
  background-color:  #00B900;
  text-align: center;
  font-weight: bold;
  padding: 12px 16px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
}
.line button:hover {
  cursor: pointer;
  background-color: pink;
}
.line button:active {
  background-color: gray;
}

@media (max-width: 600px) {
  .main h1 {
    font-size: x-large;
  }
  .main p {
    font-size: large;
  }
}
