.containerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../public/images/hoiku.jpg");
  background-size: cover;
}

.containerMain .headerOut {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.containerMain .headerOut .header {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerMain .main {
  height: 89vh;
  padding: 2rem 0;
  width: 1024px;
}

.containerMain .main .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.containerMain .main .grid .title {
  color: #333333;
  margin: 400px 0 0 0;
  line-height: 2.5;
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 32px 64px;
  background-color: rgba(255, 255, 255, 0.7);
}

.containerMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: pink;
}

.containerMap .map {
  height: 100vh;
  padding: 2rem 0;
  width: 1024px;
}

.containerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: green;
}

.containerLogo .logo {
  height: 100vh;
  padding: 2rem 0;
  width: 1024px;
}

.containerFotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerFotter .footer {
  width: 1024px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerFotter .footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1024px;
}

.navbar p {
  width: 192px;
  background-color: #00b900;
  text-align: center;
  padding: 8px 16px;
  color: #fff;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navbar ul .nav {
  color: #333333;
  list-style: none;
  margin: 0 16px;
}

.navbar ul .nav:hover, .navbar ul .nav:focus, .navbar ul .nav:active {
  color: blue;
  text-decoration: underline;
}

.line {
  margin: auto 0;
}

.line button {
  width: 192px;
  background-color: #00b900;
  text-align: center;
  font-weight: bold;
  padding: 12px 16px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
}

.line button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.line button:active {
  background-color: gray;
}

@media (max-width: 600px) {
  .containerMain {
    background-image: none;
  }
  .containerMain .main {
    height: 89vh;
    padding: 0;
    min-width: 100%;
  }
  .containerMain .main h1 {
    font-size: x-large;
  }
  .containerMain .main p {
    font-size: large;
  }
  .containerMap {
    background-color: pink;
  }
  .containerMap .map {
    height: 100vh;
    padding: 0;
    min-width: 100%;
  }
  .containerLogo {
    background-color: green;
  }
  .containerLogo .logo {
    height: 100vh;
    padding: 0;
    min-width: 100%;
  }
  .containerFotter .footer {
    display: none;
  }
  .navbar {
    display: none;
  }
  .title {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    font-weight: solid;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    padding: 0;
    background-color: none;
  }
}
/*# sourceMappingURL=Home.module.css.map */