.container {
  min-height: 100vh;
  background-image: url("/images/hoiku-back-img.JPG");
  background-size: cover;
  background-position: center;
}
.containerChild {
  min-height: 100vh;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  width: 1008px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 400px 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 0;
}

.grid {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  color: black;
  list-style: none;
  margin-left: 16px;
}

.nav:hover,
.nav:focus,
.nav:active {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .main h1 {
    font-size: x-large;
  }
  .main p {
    font-size: large;
  }
}
